# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django database
*.sqlite3
*.db

# Logs
*.log

# Environment variables
.env

# Virtual environments
venv/
env/
ENV/
.venv/
.env.bak/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VSCode/IDE
.vscode/
.idea/

# Migrations (optional: only ignore if you auto-gen them frequently)
**/migrations/*.py
**/migrations/__pycache__/

# Coverage/testing
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.pytest_cache/

# MyPy / type checker
.mypy_cache/
.dmypy.json
dmypy.json

# Build
build/
dist/
*.egg-info/

# Docker
*.pid

docker-compose-prod.yml
